<h1>List</h1>

<ul>
	<% @events.each do |event| %>
		<li>
			<%= event.name %>
			<%= event.description %>
			<%= link_to 'Show', club_path(event) %>
			<%= link_to 'Edit', edit_club_path(event) %>
			<%= button_to 'Delete', club_path(event), :method => :delete, :data => {:confirm => "Are you sure?"} %>
		</li>
	<% end %>
</ul>

<%= link_to 'New Event', new_club_path %>
<%= paginate @events %>